<h1>Pages#about</h1>
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'Articles', articles_path %></p>
<div class="jumbotron text-center">
	<h1 class="display-4 text-uppercase font-weight-bold">A Blog</h1>
	<%= link_to "Sign up", "#", class: 'btn btn-primary btn-lg ' %>
</div>