<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container text-muted">
	<small>
	  Copyright &copy <a href="https://www.linkedin.com/in/oksana-petrova/"></a> Laguna1 by
		<a href="https://www.linkedin.com/in/oksana-petrova/">Oksana Petrova</a>
	</small>
  </div>
</footer>
