<div class="container">
  <footer class="footer">
	<small>
	  Copyright &copy <a href="https://www.linkedin.com/in/oksana-petrova/"></a> Laguna1 by
		<a href="https://www.linkedin.com/in/oksana-petrova/">Oksana Petrova</a>
	</small>
  </footer>
</div> 